html {  
    height: 100vh;  
   display: flex;  
   align-items: center;  
   justify-content: center;  
   background: color #2d2d2d;;  
   background-image: linear-gradient(315deg,green 0%, white 74%);  
   font-family: fantasy; 
    }  
    
    .title {  
   margin-bottom: 10px;  
   padding: 5px 0;  
   font-size: 40px;  
   font-weight:800;  
   text-align: left;  
   color: white;  
   font-family:fantasy;  
   } 

    
    
   input[type=button] {  
  width: 90px;  
  height: 90px;  
  float: l;  
  padding: 40px;  
  margin: 8px;  
  box-sizing:border-box;  
 background: #eeefec;  
 border: none;  
 font-size: 50px;  
 line-height: 30px;  
 border-radius: 20px;  
 font-weight: 700;  
 color: black;
  box-shadow: 0px 0px 10px 10px wheat; 
    
} 

 input[type=text] {  
width: 400px;  
height: 60px;  
float: left;  
padding: 6px;  
box-sizing:border-box;  
border:5px;  
background:white ;
color: red;  
text-align: right;  
font-weight: 900;  
font-size: 60px;  
line-height: 100px;  
margin: 0 0px;  
box-shadow: 0px 0px 10px 10px wheat;
border-radius: 20px ;
}  

 .calculator {  
background-color: #c0c0c0;  
box-shadow: 0px 10px 10px 10px #666;  
border: 5px black;
border-radius:40px ;
}  

.btnTop {  
color: white;  
background-color: #6f6f6f;  
font-size: 14px;  
margin: auto;  
width: 50px;  
height: 25px;  
}     




        

          
       

    
